USE [master]
GO
/****** Object:  Database [db_bss]    Script Date: 02.01.2019 11:25:35 ******/
CREATE DATABASE [db_bss]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_bss', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db_bss.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_bss_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\db_bss_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_bss].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_bss]
GO
/****** Object:  Table [dbo].[tbCalc]    Script Date: 02.01.2019 11:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCalc](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[cParam1] [int] NOT NULL,
	[cParam2] [int] NOT NULL,
	[cChecksum] [int] NOT NULL,
 CONSTRAINT [PK_tbCalc] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbOwner]    Script Date: 02.01.2019 11:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbOwner](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[cName] [varchar](50) NOT NULL,
	[cDate] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbOwner] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbOwnerCalc]    Script Date: 02.01.2019 11:25:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbOwnerCalc](
	[cId] [int] IDENTITY(1,1) NOT NULL,
	[cOwnerId] [int] NOT NULL,
	[cCalcId] [int] NOT NULL,
 CONSTRAINT [PK_tbOwnerCalc] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
